@import url("https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap");

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Russo One', sans-serif;
    font-weight: 500px;
    font-size: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: cyan;
}

input[type=button]{
    width: 100px;
    height: 50px;
    margin: 2px;
    align-items: center;
}

input[type=button]:hover{
    background:deepskyblue;
}


div#calculator{
    height: 400px;
    background: linear-gradient(to bottom,purple,darkblue);
    border-radius:10px;
    border: deeppink groove 3px;
    box-shadow: 5px 5px 50px purple;
}

#visor {
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 50px; 
    background: black;
    border: deeppink groove;
    color: deeppink;
}

#c{
    background: purple;
    width: 400px;
    margin-left: 17px;
    margin-top: 10px;
    border: deeppink groove;
}

#c:hover{
    background: rebeccapurple;
    color: white;
}


#e{
    background: fuchsia;
}

#e:hover{
background: rgb(245, 137, 245);
}

#program{
    color: black;
}

#coded{
    /* border: 10px solid;
    border-image: linear-gradient(45deg, deeppink,purple, blue) 1; */
    background: -webkit-linear-gradient(deeppink,purple, blue);
    -webkit-background-clip: text; /*defini o tipo texto*/
    -webkit-text-fill-color: transparent; /*defini o degrade*/
    margin-top: 100px;
}

#coded:hover{
    background: -webkit-linear-gradient(rgb(20, 255, 59),rgb(0, 128, 117));
    -webkit-background-clip: text; /*defini o tipo texto*/
    -webkit-text-fill-color: transparent; /*defini o degrade*/
}