body{
    background-color: black;
    color: red;
}

#tabela1{
    border: 3px solid orange;
    border-collapse: collapse; /* juntar as linhas da borda*/
    background-color: rgb(255, 186, 179);
    width:  1000px;
    height: 500px;
    margin: 0 auto;
}


#tabela1 td{ /* cada célula da tabela - td- table data*/
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.cabecalhoERodape{
    text-align: center;
    color:  rgb(155, 2, 2);
}

#tabela1 tr:nth-child(even) { /*Fileira - tr - tablw row - linhas pares com fundo ciano*/
    background-color: rgb(247, 210, 206);
}

#tabela1 td:hover{
 background-color: rosybrown;
}


#tabela1 tr:hover{
    background-color: rosybrown;
   }



 /* ---------- Tabela 2 ----------*/  
 #tabela02{
    border: 3px solid orange;
    box-shadow: 4px 4px 4px  orange;
    border-collapse: collapse; /* juntar as linhas da borda*/
    background-color: rgb(255, 186, 179);
    color: black;
    margin: 0 auto;
    text-align: center;
 }  

 #tabela02 td{
    border: 1px solid black;
    width: 300px;
    height: 80px;
 }

#tabela02 caption{
    color: red;
}


 #tabela02 tr:nth-child(even) { /*Fileira - tr - tablw row - linhas pares com fundo ciano*/
    background-color: rgb(247, 210, 206);
}

#tabela02 td:hover{
 background-color: rosybrown;
}


#tabela02 tr:hover{
    background-color: rosybrown;
   }

#foot{
    text-align: center;
}  

.sublinhado{
    text-decoration: underline;
    text-decoration-color: chartreuse;
}

#legenda{
    text-align: center;
    margin: 0 auto;
}